{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbo">
        <div class="container">
          <h1 class="text-center"><strong>Welcome To CORPORATE BLOG</strong></h1> 
        </div>
        </div>
        {% for blog in blogs %}
        <p>The focus of this blog is the business itself- their own products or services with the purpose of increasing traffic for their business in order to gain customers. The topics are chosen in order to attract visitors that are interested in their specific industry. They’re run by corporations and could be called enterprise blogs.</p>
        <button class="btn btn-danger"><a href="{{url_for('main.delete_blog',id =blog.id)}}">Delete</a></button>
        {% endfor %}

<div class="container-fluid">
  <div class="row">
    {{macro.displayBlogs(blogs)}}
  </div>
</div>
{%endblock%}