{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content%}

<div class = 'container'>
        <div class="jumbotron jumbotron-fluid" id="jumbo">
                <div class="container">
                  <h1 class="text-center"><strong>Welcome To The Best Blog Site</strong></h1> 
                </div>
            </div>
            <div class="row">
                <p>Random Quotes</p>
                <p>{{random.quote}}</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                    <h2 class="text-center">Corporate</h2>
                    <button type="button" class="btn btn-light"><a href="/blogs/corporate">View</a></button>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                            <h2 class="text-center">Artist</h2>
                            <button type="button" class="btn btn-light"><a href="/blogs/artist">View</a></button>
                            </div>
                        </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-6">
                        <div class="well">
                        <h2 class="text-center">GUEST</h2>
                        <button type="button" class="btn btn-light"><a href="/blogs/guest">View</a></button>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="well">
                                <h2 class="text-center">PERSONAL</h2>
                                <button type="button" class="btn btn-light"><a href="/blogs/personal">View</a></button>
                                </div>
                            </div>
                    </div>
                </div>
            


</div>
    
            
            
{% endblock%}



