<style>
    .nav a{
        color: black!important;
    }
    .nav a:hover{
        color: aliceblue!important;
    }
</style>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid" style="background-color:purple">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <strong>Blog</strong> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/blogs/corporate">Corporate</a></li>
                <li><a href="/">Artist</a></li>
                <li><a href="/">Guest</a></li>
                <li><a href="/">Personal</a></li>
                
                
        </div>
        
            
        
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{url_for('main.blogs')}}">Blogs</a></li>
            <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
            <li style="color:white;padding:15px;">{{current_user.username}}</li>
            <li><a href="{{url_for('auth.logout')}}">Logout out</a></li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}">Login in</a></li>
            {%endif%}
          </ul>

    </div>
</div>

